@font-face {
    font-family: 'Open Sans Semibold';
    src: url("./fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url("./fonts/OpenSans-Regular.ttf") format("truetype");
}
.wrap-with-border-product{
    font-family: "Open Sans Semibold", sans-serif;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    border-bottom: 1px solid #d8d8d8;
}
.wrap-product{
    display: flex;
    max-width: 1366px;
    margin: 0 auto;
    padding: 80px 98px;
}

.wrap-img img{
    width: 270px;
    height: 270px;
}
.wrap-info{
    margin-left: 30px;
    font-size: 21px;
}

.title{
    font-size: 36px;
    font-weight: 600;
    line-height: 1.11;
    margin-bottom: 30px;
}

.description{
    font-family: "Open Sans Regular", sans-serif;
    line-height: 1.43;
    margin-bottom: 30px;
    width: 670px;
}

.main-info{
    display: flex;
    font-family: "Open Sans Regular", sans-serif;
    margin-bottom: 30px;
}

.result{
    margin-right: 50px;
}

.sum div:last-child,
.rate div:last-child{
    font-family: "Open Sans Semibold", sans-serif;
    font-size: 32px;
}

.add-remove{
    margin-right: 0;
}

.add-remove div{
    margin-bottom: 10px;
}

.button{
    font-family: "Open Sans Semibold", sans-serif;
    font-size: 17px;
    border-radius: 2px;
    height: 50px;
    line-height: 1.47;
    cursor: pointer;
    margin-right: 10px;
}
.open {
    width: 253px;
    background-color: black;
    color: white;
    border-style: none;
}
.info {
    width: 170px;
    background-color: white;
    color: black;
    border: 1px solid black;
}
.denial:before{
    content: '';
    background-image: url("./x.svg");
    width: 9px;
    height: 9px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 2px;
}
.check:before{
    content: '';
    background-image: url("./check.svg");
    width: 12px;
    height: 10px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 2px;
}

@media (max-width: 1365px) {
    .wrap-product{
        padding: 80px 40px;

    }

    .wrap-img img{
        width: 213px;
        height: 213px;
    }
}

@media (max-width: 1023px) {
    .wrap-product {
        padding: 60px 40px;
    }

    .wrap-img img {
        width: 157px;
        height: 157px;
    }

    .wrap-info {
        margin-left: 19px;
        font-size: 17px;
    }

    .title {
        font-size: 28px;
    }

    .description {
        width: 511px;
    }

    .sum div:last-child,
    .rate div:last-child {
        font-size: 24px;
    }

    .button {
        font-size: 14px;
    }

    .open {
        width: 205px;
    }

    .info {
        width: 150px;
    }
}

@media (max-width: 767px) {
    .wrap-with-border-product {
        border-bottom: 0px;
    }

    .wrap-product {
        display: block;
        padding: 25px 0px;
        margin: 0 auto;
        width: 280px;
    }

    .wrap-img img {
        width: 100%;
        height: 100%;
    }

    .wrap-info {
        margin-left: 0;
    }

    .title {
        margin-top: 13px;
        margin-bottom: 20px;
    }

    .description {
        margin-bottom: 20px;
        width: 100%;
    }

    .main-info {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .result {
        margin-right: 50px;
        margin-bottom: 20px;

    }

    .sum div:last-child,
    .rate div:last-child {
        font-size: 21px;
    }

    .add-remove {
        margin-bottom: 10px;
    }

    .add-remove div {
        margin-bottom: 10px;
    }

    .button {
        margin-right: 10px;
        height: 40px;
    }

    .open {
        margin-bottom: 10px;
        width: 280px;
    }

    .info {
        width: 280px;
    }

}

